@model IEnumerable<WebApplication.Models.Participants>

@{
    ViewData["Title"] = "Deltagerne med 10,1 km";
}

<h1>Deltagerne med 10,1 km</h1>

<p>
    <a class="btn btn-primary" asp-area="" asp-controller="Participants" asp-action="Export10KmToCSV">Export To CSV</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            
        </tr>
}
    </tbody>
</table>
