@model IEnumerable<WebApplication.Models.Participants>

@{
    ViewData["Title"] = "GetAll5km";
}

<h1>GetAll5km</h1>


<p>
    <button onclick="generatePDF()">Download as PDF</button>
</p>
<div id="details">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PartcipantName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.runnerNamber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartcipantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.runnerNamber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distance)
                    </td>
                    <td asp-format="{0:hh:mm}">
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>

    @section Scripts
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            function generatePDF() {
                // Choose the element that our list is rendered in.
                const element = document.getElementById('details');
                //Options
                var opt = {
                    filename: 'List With 5km.pdf',
                };
                // Choose the element and save the PDF for our user.
                html2pdf().set(opt).from(element).save()
            }
        </script>
    }

